@{ 
    ViewBag.Title = "About";
}

<h2>Informazioni</h2>

<h4>Sito web sviluppato esclusivamente per l'esame del corso <i>"Tecniche di sviluppo software in AMB".</i></h4>
<p>Siamo due studenti che per questo esame hanno sviluppato un e-commerce basata sul vestiario.</p>
