@{
    ViewBag.Title = "Contact";
}
<h2>Contattaci</h2>
<br />
<h4>Di seguito troverai i nostri recapiti:</h4>
<address>
    Italia<br />
    Parma,UNIPR<br />
    <abbr title="Phone">Tel:</abbr>
    +390000000000
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:federico.canali2@studenti.unipr.it">federico.canali2@studenti.unipr.it</a><br />
    <strong>Marketing:</strong> <a href="mailto:francesco.marchi@studenti.unipr.it">francesco.marchi@studenti.unipr.it</a>
</address>